<body>
    <style>
        .yellow_button {
            height: 50px;
            background-color: #fecf09;
            font-size: 13px;
            color: #3e3e3e;
            text-transform: uppercase;
            border-radius:2px;
            font-weight: 500;
        }
        .searchbar {
            padding-left: 50px
        }
        @media screen and (min-width: 450px) {
            .shifted-right {
                float: right; 
                margin: 30px
            }
        }
        @media screen and (max-width: 450px) {
            .shifted-right {
                display: block;
                margin: auto
            }
        }
        @media screen and (min-width: 450px) {
            .shifted-left {
                float: left; 
                margin: 30px
            }
        }
        @media screen and (max-width: 450px) {
            .shifted-left {
                display: block;
                margin: 30px auto
            }
        }
    </style>
    <link rel="stylesheet" href="vendors/bower_components/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="vendors/bower_components/owlcarousel/owl.theme.default.min.css">
        <header id="lowerheader">
            <div class="header__search container">
                <form ng-submit="search(search_type, selectcat, keyword)">
                    <div class="search">
                        <div class="search__type">
                            <select class="yellow_button" style="padding: 5px; width: 100%; max-width: 97px" ng-model="search_type" required>
                                <option value="" disabled ng-selected style="color: #fff; font-size: 13px;color: #3e3e3e;font-weight: 500;text-transform: uppercase">Type</option>
                                <option ng-value="false" style="font-size: 13px;color: #3e3e3e;font-weight: 500;text-transform: uppercase">Borrow</option>
                                <option ng-value="true" style="font-size: 13px;color: #3e3e3e;font-weight: 500;text-transform: uppercase">Exchange</option>
                            </select>
                        </div>
                        <div class="search__body">
                            <input type="text" class="search__input searchbar" placeholder="What are you looking for" data-rmd-action="advanced-search-open" ng-model="keyword">
                            <div class="search__advanced searchbar">

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Category Type</label>

                                        <select class="select2" ng-model="selectcat">
                                            <option value="" disabled ng-selected>Select category</option>
                                            <option ng-value=cat.Category_ID ng-repeat="cat in allCategories">{{cat.Category_Name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 m-t-10">
                                    <button type="submit" class="btn btn-primary">Search</button>
                                    <button class="btn btn-link" data-rmd-action="advanced-search-close">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <br>
                <button class="yellow_button shifted-right" style="width:130px; border:none" ng-click="categiriespage()">All Categories</button>
                <button class="yellow_button shifted-left" style="width:130px; border:none" ng-click="additempage()" ng-if="islogedin">Add Item</button>
                <button class="yellow_button shifted-left" style="width:130px; border:none" ng-if="!islogedin">Login To Add Item</button>
            </div>
            <div class="header__recommended">
                <div class="my-location">
                    <div class="dropdown my-location__location hidden-xs">
                        <div class="my-location__title">
                           <span>Our Recent Items</span>
                        </div>
                    </div>
                </div>
                <!-- Set up your HTML -->
                <div class="owl-carousel">
                    <div><!-- slide 1 -->
                        <div class="item">
                            <div class="listings-grid__item" style="width: 100%; height: 350px;margin: auto; display: block">
                                <a href="" ng-click="redirectitem(ExclItems[0].Item_ID)">
                                    <div class="listings-grid__main">
                                        <img ng-src="{{ExclItems[0].ItemImage}}" alt="" style="height:200px">
                                        <div class="listings-grid__price">{{ExclItems[0].Type}}</div>
                                    </div>
                                    <div class="listings-grid__body">
                                        <h5>{{ExclItems[0].ItemName}}</h5>
                                    </div>
                                    <ul class="listings-grid__attrs">
                                        <li><img ng-src="{{ExclItems[0].ItemOwnerImage}}" class="img-circle pull-right" style="width: 25px;"></li>
                                        <li>User rating: {{ExclItems[0].UserRating}}</li>
                                    </ul>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div><!-- slide 2 -->
                        <div class="item">
                            <div class="listings-grid__item" style="width: 90%; height: 350px;margin: auto; display: block">
                                <a href="" ng-click="redirectitem(ExclItems[1].Item_ID)">
                                    <div class="listings-grid__main">
                                        <img ng-src="{{ExclItems[1].ItemImage}}" alt="" style="height:200px">
                                        <div class="listings-grid__price">{{ExclItems[1].Type}}</div>
                                    </div>
                                    <div class="listings-grid__body">
                                        <h5>{{ExclItems[1].ItemName}}</h5>
                                    </div>
                                    <ul class="listings-grid__attrs">
                                        <li><img ng-src="{{ExclItems[1].ItemOwnerImage}}" class="img-circle pull-right" style="width: 25px;"></li>
                                        <li>User rating: {{ExclItems[1].UserRating}}</li>
                                    </ul>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div><!-- slide 3 -->
                        <div class="item">
                            <div class="listings-grid__item" style="width: 90%; height: 350px;margin: auto; display: block">
                                <a href="" ng-click="redirectitem(ExclItems[2].Item_ID)">
                                    <div class="listings-grid__main">
                                        <img ng-src="{{ExclItems[2].ItemImage}}" alt="" style="height:200px">
                                        <div class="listings-grid__price">{{ExclItems[2].Type}}</div>
                                    </div>
                                    <div class="listings-grid__body">
                                        <h5>{{ExclItems[2].ItemName}}</h5>
                                    </div>
                                    <ul class="listings-grid__attrs">
                                        <li><img ng-src="{{ExclItems[2].ItemOwnerImage}}" class="img-circle pull-right" style="width: 25px;"></li>
                                        <li>User rating: {{ExclItems[2].UserRating}}</li>
                                    </ul>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div><!-- slide 4 -->
                        <div class="item">
                            <div class="listings-grid__item" style="width: 90%; height: 350px;margin: auto; display: block">
                                <a href="" ng-click="redirectitem(ExclItems[3].Item_ID)">
                                    <div class="listings-grid__main">
                                        <img ng-src="{{ExclItems[3].ItemImage}}" alt="" style="height:200px">
                                        <div class="listings-grid__price">{{ExclItems[3].Type}}</div>
                                    </div>
                                    <div class="listings-grid__body">
                                        <h5>{{ExclItems[3].ItemName}}</h5>
                                    </div>
                                    <ul class="listings-grid__attrs">
                                        <li><img ng-src="{{ExclItems[3].ItemOwnerImage}}" class="img-circle pull-right" style="width: 25px;"></li>
                                        <li>User rating: {{ExclItems[3].UserRating}}</li>
                                    </ul>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div><!-- slide 5 -->
                        <div class="item">
                            <div class="listings-grid__item" style="width: 90%; height: 350px;margin: auto; display: block">
                                <a href="" ng-click="redirectitem(ExclItems[4].Item_ID)">
                                    <div class="listings-grid__main">
                                        <img ng-src="{{ExclItems[4].ItemImage}}" alt="" style="height:200px">
                                        <div class="listings-grid__price">{{ExclItems[4].Type}}</div>
                                    </div>
                                    <div class="listings-grid__body">
                                        <h5>{{ExclItems[4].ItemName}}</h5>
                                    </div>
                                    <ul class="listings-grid__attrs">
                                        <li><img ng-src="{{ExclItems[4].ItemOwnerImage}}" class="img-circle pull-right" style="width: 25px;"></li>
                                        <li>User rating: {{ExclItems[4].UserRating}}</li>
                                    </ul>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div><!-- slide 6 -->
                        <div class="item">
                            <div class="listings-grid__item" style="width: 90%; height: 350px;margin: auto; display: block">
                                <a href="" ng-click="redirectitem(ExclItems[5].Item_ID)">
                                    <div class="listings-grid__main">
                                        <img ng-src="{{ExclItems[5].ItemImage}}" alt="" style="height:200px">
                                        <div class="listings-grid__price">{{ExclItems[5].Type}}</div>
                                    </div>
                                    <div class="listings-grid__body">
                                        <h5>{{ExclItems[5].ItemName}}</h5>
                                    </div>
                                    <ul class="listings-grid__attrs">
                                        <li><img ng-src="{{ExclItems[5].ItemOwnerImage}}" class="img-circle pull-right" style="width: 25px;"></li>
                                        <li>User rating: {{ExclItems[5].UserRating}}</li>
                                    </ul>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div><!-- slide 7 -->
                        <div class="item">
                            <div class="listings-grid__item" style="width: 90%; height: 350px;margin: auto; display: block">
                                <a href="" ng-click="redirectitem(ExclItems[6].Item_ID)">
                                    <div class="listings-grid__main">
                                        <img ng-src="{{ExclItems[6].ItemImage}}" alt="" style="height:200px">
                                        <div class="listings-grid__price">{{ExclItems[6].Type}}</div>
                                    </div>
                                    <div class="listings-grid__body">
                                        <h5>{{ExclItems[6].ItemName}}</h5>
                                    </div>
                                    <ul class="listings-grid__attrs">
                                        <li><img ng-src="{{ExclItems[6].ItemOwnerImage}}" class="img-circle pull-right" style="width: 25px;"></li>
                                        <li>User rating: {{ExclItems[6].UserRating}}</li>
                                    </ul>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="section">
            <div class="container">
                <!--<header class="section__title">
                    <h2>8,243 Communites</h2>
                </header>-->

                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card__header card__header--minimal">
                                <h2>Recent Communites</h2>
                                <!--<small>Nunc urnami tempor eget ipsum eurutrum gravida tellus</small>-->
                            </div>

                            <div class="grid-widget grid-widget--listings">
                                <div class="col-sm-6" ng-repeat="recentcomm in recentcommunities">
                                    <a class="grid-widget__item" href="" ng-click="redirectcomm(recentcomm.Community_ID)" style="max-width: 450px">
                                        <img ng-src="{{recentcomm.CommunityImage}}" alt="" style="height: 250px">
                                        <div class="grid-widget__info">
                                            <h3>{{recentcomm.CommunityName}}</h3>
                                            <ul class="listings-grid__attrs">
                                             <li ng-repeat="commuser in recentcomm.CommunityMembers"><img ng-src="{{commuser.UserImage}}" class="img-circle" style="width: 25px;"></li>
                                            </ul>
                                            <p>{{recentcomm.Members_NO}} members</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <button class="yellow_button shifted-right" style="width:130px; border:none" ng-click="communitiespage()">View all Communites</button>
                            <button class="yellow_button shifted-left" style="width:130px; border:none" data-toggle="modal" data-target="#addcommunitymodal" ng-if="islogedin">Add community</button>
                            <button class="yellow_button shifted-left" style="width:130px; border:none" ng-if="!islogedin">Login To Add community</button>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card tags-list">
                            <div class="card__header">
                                <h2>Categories</h2>
                                <small>These are some of our categories</small>
                            </div>
                            <div class="card__body">
                                <a href="" ng-click="redirect(categ.Category_ID)" class="tags-list__item" ng-repeat="categ in allCategories|limitTo:5">#{{categ.Category_Name}}</a>
                            <button class="btn btn-default" ng-click="categiriespage()">See All</button>
                            </div>
                        </div>
                        <div class="list-group list-group--block contact-lists">
                            <div class="list-group__header text-left">
                                {{allusers.length}} User board
                            </div>                  
                            <div class="list-group__wrap" ng-repeat="user in allusers|limitTo:3">
                                <a class="list-group-item media" href="" ng-click="redirectuser(user.Refrence_ID)" data-toggle="modal">
                                    <div class="pull-left">
                                        <div class="avatar-char mdc-bg-amber-400" ng-if="user.ImageURL === null">{{user.Name.substring(0, 2)}}</div>
                                        <img ng-src="{{user.ImageURL}}" class="list-group__img img-circle" width="50" height="50" alt="" ng-if="user.ImageURL !== null">
                                    </div>
                                     <div class="media-body list-group__text">
                                        <strong>{{user.Name}}</strong>
                                        <div class="list-group__attrs">
                                            <div>This month: {{user.PointsOfMonth}}</div>
                                            <div>Total: {{user.TotalPoints}}</div>
                                        </div>
                                    </div>
                                </a>
                                <!--<div class="actions list-group__actions">
                                    <div class="dropdown">
                                        <a href="" data-toggle="dropdown"><i class="zmdi zmdi-more-vert"></i></a>
                                        <ul class="dropdown-menu pull-right" ng-if="islogedin">
                                            <li><a href="">Add to group</a></li>
                                            <li><a href="">Add Contact</a></li>
                                            <li><a href="">Delete</a></li>
                                        </ul>
                                        <ul class="dropdown-menu pull-right" ng-if="!islogedin" style="cursor: not-allowed" data-toggle="tooltip" data-placement="left" title="To use these options you must login first">
                                            <li><p style="padding: 10px 20px">Add to group</p></li>
                                            <li><p style="padding: 10px 20px">Add Contact</p></li>
                                            <li><p style="padding: 10px 20px">Delete</p></li>
                                        </ul>
                                    </div>
                                </div>-->
                            </div>
                            <div class="load-more" style="margin-bottom: 20px">
                                <a href="" ng-click="boardpage()"><i class="zmdi zmdi-refresh-alt"></i> Load more boards</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</body>
<!-- community Modal -->
<div class="modal fade" id="addcommunitymodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="float: right"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Community</h4>
      </div>
      <div class="modal-body">
        <div class="card" ng-if="!readyforimage">
            <form class="card__body" ng-submit="newcommunity(name, description)">
                <div class="form-group form-group--float form-group--float-center">
                    <input type="text" class="form-control text-center" required ng-model="name">
                    <i class="form-group__bar"></i>
                    <label>Community Name</label>
                </div>
                <div class="form-group form-group--float form-group--float-center">
                    <textarea class="form-control text-center textarea-autoheight" required ng-model="description"></textarea>
                    <i class="form-group__bar"></i>
                    <label>Specifications</label>
                </div>
                <button class="btn btn--circle btn-primary submit-property__button" type="submit"><i class="zmdi zmdi-check"></i></button>
            </form>
        </div>
        <div class="card" ng-if="readyforimage">
            <div class="card__header">
                <h2>Community Image</h2>
            </div>

            <form class="card__body" ng-submit="uploadcommunityimage()">
                 <div class="new-contact__img">
                    <img src="img/user_empty.png" alt="">
                     <input type="file" id="myFileField" name="myFile" />
                </div>
                <button class="btn btn--circle btn-primary submit-property__button" type="submit"><i class="zmdi zmdi-check"></i></button>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="vendors/bower_components/owlcarousel/owl.carousel.min.js"></script>