<div class="action-header">
    <div class="container">
        <div class="action-header__item action-header__item--search">
            <form>
                <input type="text" ng-model="q" placeholder="البحث في الفئات"><!-- For desktop -->
            </form>
        </div>
    </div>
</div>
<section class="text-center" style="padding-top: 40px; padding-bottom: 40px">
    <strong class="lead" ng-if="commresults.length === 0">لا توجد فئات...</strong>
    <div class="row">
        <div ng-repeat="categ in allCategories | filter:q as Category_Name" class="col-md-3 col-sm-4 col-xs-6" style="padding: 10px">
            <a href="" ng-click="redirect(categ.Category_ID)">#{{categ.Category_Name}}</a>
        </div>
    </div>
</section>
<!-- error modal -->
<div class="modal fade" id="errormodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">عفوا حدث خطا</h4>
            </div>
            <div class="modal-body">
                {{errormsg}}
            </div>
        </div>
    </div>
</div>